* {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  overflow: hidden;
}

ul {
  list-style: none;
}

.gameOverModal {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  left: 0;
  top: 0;
  color: #fff;
  font-size: 50px;
}

.gameOverModal > button {
  padding: 0.5rem 1rem;
  color: #fff;
  background: salmon;
  border: none;
  cursor: pointer;
  margin: 5px 0;
}

.gameBoard > ul {
  border: 1px solid #ccc;
  width: 300px;
  margin: 0 auto;
}

.gameBoard > ul > li {
  width: 100%;
  height: 30px;
}

.gameBoard > ul > li > ul {
  display: flex;
}

.gameBoard > ul > li > ul > li {
  width: 30px;
  height: 30px;
  outline: 1px solid #ccc;
}

.tmino {
  background-color: coral;
}

.omino {
  background-color: cornflowerblue;
}

.imino {
  background-color: darkturquoise;
}

.zmino {
  background-color: lawngreen;
}

.smino {
  background-color: magenta;
}

.lmino {
  background-color: tomato;
}

.jmino {
  background-color: gold;
}
